*,
*::before,
*::after{
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

img{
   /* width: 100%;*/
}

button{
    padding: 0;
}

button,
button:active,
button:focus{
    outline: none;
    border: none;
}

a{
    color: #000;
    text-decoration: none;
}

.button_load{
    display: flex;
    justify-content: center;
}

.load_more{
    padding: 10px 25px;

    font-family: 'Roboto Bold', arial;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;

    background-color: #959595;

    border-radius: 3px;

    cursor: pointer;
}

.load_more:hover{
    background-color: #727272;
}

.container{
    width: 100%;
    max-width: 1140px;
    height: 100%;
    margin: 0 auto;
}

.bold{
    color: black;
}

/* Header */

.header{
    position: absolute;
    top: 0;
    width: 100%;
    height: 90px;
}

.header__owner{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.header__logo{
    display: block;
}

.nav__link{
    font-family: 'Roboto Bold', arial;
    font-size: 14px;

    text-decoration: none;
    text-transform: uppercase;
    color: #777777;
    font-weight: 600;

    margin: 0 20px;
    
    transition: color .1s linear ;
}

.nav__link:hover{
    color: #000;
    
}

/* Slider */

.slider{
    position: relative;
    margin-top: 90px;
    width: 100%;
}

.slider__item{
    outline: none;
}

.slider__img{
    width: 100%;
}

/* Слайдер */
.slick-slider{}
/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.slick-track{
    display: flex;
}


/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}


/* Стрелка */
.slick-arrow{
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;
    width: 50px;
    height: 50px;
    border: none;
    outline: none;
    margin: -25px 0 0 0 ;
}
/* Стрелка влево */
.slick-arrow.slick-prev{
    left: 0;
    background: url(../images/Prev.svg) 0 0 /100 center no-repeat;
}
/* Стрелка вправо */
.slick-arrow.slick-next{
    right: 0;
    background: url(../images/Next.svg) 0 0 /100 center no-repeat;
}
/* Стрелка не активная */
.slick-arrow.slick-disabled{
    opacity: 0.5;
}


/* Точки (булиты) */
.slick-dots{
    position: absolute;
    bottom: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slick-dots li{
    list-style: none;
    margin: 0 7px;
}
/* Активная точка */
.slick-dots li.slick-active button{
    border: 3px solid black;
}
/* Элемент точки */
.slick-dots li button{
    font-size: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #fff;
}

/*Body*/

.main{
    background-color: #fafafa;
    font-family: 'Roboto Bold', arial;
    font-size: 14px;
    padding: 30px 0;
    box-shadow: inset 1px -3px 5px rgba(154, 147, 140, 0.5)
}

.main__header{
    display: flex;
    align-items: center;
    justify-content: center;

    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;

    padding: 15px 0;
}

.main__link{
    margin: 0 10px;
    color: #777;
    font-weight: 600;

    text-transform: uppercase;
}

.main__link:hover{
    color: #000;
}

.main__divide{
    font-size: 30px;
    color: #dcdcdc;
}

.main__content{
    display: flex;
    min-height: 100vh;
    justify-content: space-between;
}

.main__column{
    display: flex;

    width: 33%;
    height: 100%;

    align-items: center;
    
    flex-direction: column;
}

.column__item{
    display: block;
    position: relative;
    margin: 15px 0;
}

.column__item:after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0;
}

.plus{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: serif;
    font-size: 100px;
    font-weight: 100;
    color: #fff;
    opacity: 0;
}

.column__item:hover:after{
    opacity: 0.5;
}

.column__item:hover .plus{
    opacity: 0.8;
    z-index: 10;
}

/* Footer */

.footer{
    display: flex;
    flex-direction: column;

    padding: 60px 0 30px;
    
    width: 100%;
    
    align-items: center;

}

.footer__logo{
    display: block;
}

.footer__social{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 40px 0;
    padding: 25px 0;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    
}

.footer__link{
    display: block;
    width: 12px;
    height: 12px;
    margin: 0 25px;
}

.footer__link img{
    width: 100%;
    height: 100%;
}

.footer__copywrite{
    font-family: 'Roboto Regular', arial;
    font-size: 13px;
    font-weight: 500;
    color: #9c9c9c;

    text-transform: uppercase;

    text-align: center;
}